{% extends 'dashboard/base.html' %}
{% load static %}

{% block css %}
  <style>
    .django-ckeditor-widget {
      width: 100%;
    }
  </style>
  <link rel="stylesheet" href="{% static 'django_ckeditor_5/dist/styles.css' %}" />
{% endblock %}

{% block content %}
  <div class="row mt-4">
    <div class="col-lg-9 col-12 mx-auto position-relative">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape bg-gradient-dark shadow text-center border-radius-xl mt-n4 me-3 float-start">
            <i class="material-icons opacity-10">article</i>
          </div>
          <h6 class="mb-0">Form Artikel</h6>
        </div>
        <div class="card-body pt-2">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label ms-0">Judul</label>
              {{ forms.title }}
            </div>

            <div class="mb-3">
              <label class="form-label ms-0">Konten</label>
              {{ forms.content }}
            </div>

            <div class="mb-3">
              <label class="form-label ms-0 d-block">Gambar</label>
              {{ forms.image }}
            </div>

            <div class="mb-3">
              <label class="form-label ms-0">Kategori</label>
              {{ forms.category }}
            </div>

            <div class="form-check form-switch ms-1">
              {{ forms.status }}
              <label class="form-check-label" for="flexSwitchCheckDefault">Status</label>
            </div>

            <div class="d-flex justify-content-end mt-4">
              <button type="submit" name="button" class="btn bg-gradient-dark m-0 ms-2">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'django_ckeditor_5/dist/bundle.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/plugins/choices.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/plugins/quill.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/plugins/flatpickr.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/plugins/dropzone.min.js' %}"></script>
  <script>
    if (document.getElementById('editor')) {
      var quill = new Quill('#editor', {
        theme: 'snow' // Specify theme in configuration
      })
    }
    
    if (document.getElementById('choices-multiple-remove-button')) {
      var element = document.getElementById('choices-multiple-remove-button')
      const example = new Choices(element, {
        removeItemButton: true
      })
    }
    
    if (document.querySelector('.datetimepicker')) {
      flatpickr('.datetimepicker', {
        allowInput: true
      }) // flatpickr
    }
    
    Dropzone.autoDiscover = false
    var drop = document.getElementById('dropzone')
    var myDropzone = new Dropzone(drop, {
      url: '/file/post',
      addRemoveLinks: true
    })
  </script>
{% endblock %}
