{% extends 'landingpage/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
  {{ article }}
{% endblock %}

{% block content %}
  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <section class="py-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ms-auto me-auto">
            <h3 class="title">{{ article.title }}</h3>
            <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm">{{ article.category }}</h6>
            <div class="mb-4">
              <span class="fw-semibold">{{ article.created_by }}</span> • <small class="text-muted fst-italic">{{ article.created_at }}</small>
            </div>
            {% comment %} {% if article.image %}
              <img src="{{ article.image.url }}" alt="..." class="img-fluid mb-4 w-100" />
            {% endif %} {% endcomment %}
            <p class="text-dark">{{ article.content|add_image_classes|safe }}</p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-4">
      <div class="container">
        <div class="row">
          <h3 class="mb-3 px-md-6 text-center">Lihat Berita Lainnya</h3>
          <div class="row gap-3">
            {% for article in another_article %}
              <div class="card px-0 col-lg-3">
                <div class="card-header px-0 pt-0 pb-2">
                  {% if article.image %}
                    <img class="img-fluid border-radius-lg" src="{{ article.image.url }}" alt="architecture" loading="lazy" />
                  {% else %}
                    <img class="img-fluid border-radius-lg" src="{% static 'landingpage/assets/img/no_image.png' %}" alt="architecture" loading="lazy" />
                  {% endif %}
                </div>
                <div class="card-body pt-0 px-3 d-flex flex-column">
                  <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold">{{ i.category }}</span>
                  <a href="{% url 'article_detail' article.id %}" class="card-title mt-3 h5 d-block text-darker">{{ articlarticle.title }}</a>
                  <p class="card-description mb-4">{{ article.content|striptags|truncatechars:100 }}</p>
                  <div class="author align-items-end flex-fill">
                    <img src="{% static 'landingpage/assets/img/avatar.png' %}" alt="..." class="avatar shadow" loading="lazy" />
                    <div class="name ps-2">
                      <span>{{ article.created_by }}</span>
                      <div class="stats">
                        <small>{{ article.created_at }}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
